# WeatherAPI
WEATHERAPI_KEY=your_weatherapi_key_here

# Snowflake
SNOWFLAKE_ACCOUNT=gjhezxb-lpb73600
SNOWFLAKE_USER=YUBINJOE
SNOWFLAKE_PASSWORD=your_password_here
SNOWFLAKE_DATABASE=basket_craft
SNOWFLAKE_SCHEMA=RAW
SNOWFLAKE_WAREHOUSE=basket_craft_wh
SNOWFLAKE_ROLE=basket_craft_loader
